[submodule "api"]
	path = api
	url = https://github.com/RendyDharmaPutra/fruit-manager-api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/RendyDharmaPutra/fruit-manager-frontend.git
[submodule "ai_core"]
	path = ai_core
	url = https://github.com/RendyDharmaPutra/fruit-manager-ai.git
